// ==========================================================================
// Blockquote
// ==========================================================================

.blockquote {
	@mixin mq ($large) {
		margin: em(32px, 24px) 0;
		padding: 0 0 0 5%;
		border-left: em(8px, 24px) solid palette(grey, xx-light); 
		font-size: em(24px);
	}
	font-weight: $font-weight--medium;
	font-style : italic;
	font-size : em(20px);
	padding-left: 15px;
	border-left: $br--default solid $color-primary;
	border-radius: 5px 0 0 5px;

}