// ==========================================================================
// Container
// ==========================================================================

.container {
  @extend %clearfix;
  @extend .centered;
  width: 90%;
  color: grey;
  font-size: $base__font-size;
  font-family: $font-family--primary;
  line-height: ($base__line/$base__font-size);

  //Elements in .container

  h1 {
    color: $color-primary;
  }

  p a {
    color: $color-secondary ;
    text-decoration: none;
    font-weight: $font-weight--ultra-bold;
  }
 
  // Make nested grid 100%
  [class*="grid__col--"] > & {
    width: 100%; 
  }

  // Set a max-width for grid container
  @include mq(large) {
    max-width: $g-cont-max-w;
  } 
}